.table th, .table td {
    vertical-align: inherit !important;
}
.table-number{
    width: 5%;
    text-align: center;
}
.table-name{
    width: 15%;
    text-align: center;
}
.table-content{
    width: 20%;
    text-align: center;
}
.table-description{
    width: 20%;
    text-align: center;
}
.table-status{
    width: 5%;
    text-align: center;
}
.table-actions{
    width: 5%;
    text-align: center;
}
.td-center{
    text-align: justify;
}